.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--red);
    padding: 20px 50px;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;

}
.nav__link{
    color:inherit;
}

.nav__notification {
    background-color: var(--green);
}