.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--red);
    padding: 20px 50px;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;

}
.nav__link{
    position: relative;
    color:inherit;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.nav__dot {background-color: var(--green);
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    }
